@import "bootstrap"; // Import bootstrap
@import "variables"; // Custom variables
@import "forms"; // Custom forms
@import "buttons";  // Custom buttons
@import "modals";  // Custom Modals
@import "mediaqueries"; // Custom Media Queries

.app {

  .main {
    position: relative;
    padding: 15px;
    padding-bottom: 30%;
  }

  .logo {
    margin-bottom: 85px;
  }

  .thanks {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .feature-side {
    position: absolute;
    right: 0;
    top: 0;
  }

  p {
    margin: 0 0 20px;
  }

  p.description {
    font-size: 17px;
    color: lighten(@brand-secondary, 35%);
  }

  .form {
    width: 300px;

    button {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    label {
      font-weight: normal;
    }

    .submit:after {
      font-family: FontAwesome;
      content: "\f04b";
      width: 20px;
      height: 20px;
      padding-left: 10px;
    }
  }
}

.rtl {
  direction: rtl;

  .app p {
    width: 50%;
  }

  .submit:after {
    font-family: FontAwesome;
    content: "\f053"!important;
    width: 20px;
    height: 20px;
    padding-right: 10px;
  }
}